body{
    background-color:#d1cbbe;
}

.jumbotron{
    background-color:#d1cbbe !important;
}
ul {
    padding-top: 10px;
    padding-left: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 15px;

}

input[type="text"] {
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: solid 4px #cebb8c;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: none;
  border-bottom: solid 5px #969696;
}

ul a{
    color: black;
}

a:hover, a:focus, a:active{
    text-decoration: none;
    color: #e5aa14;
}
h2{
    padding-left: 25%;
}
.infoBeer{
    padding: 20px;
    background-color: #cebb8c;
    background-image: linear-gradient(white,#cebb8c);
    border-radius: 82px 0px 82px 0px;
    -moz-border-radius: 82px 0px 82px 0px;
    -webkit-border-radius: 82px 0px 82px 0px;
    border: 0px solid #000000;
}